#setting
{
    background-color: lightblue;
}

.container-fluid
{
    height: 100%;
}

img
{
    /* border: 1px solid black!important;
    border-top-left-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
    border-top-right-radius: 15px!important; */
}






















