<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="./img/logo.png">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>Document</title>

    <!-- 在dropCat的eclipse引用的CSS -->
    <!-- <link rel="stylesheet" href="./css/cssForRegister.css"> -->






</head>
<body style="
height: 100vh; background-repeat: no-repeat;background-image: linear-gradient(25deg, #f6008a, #f45c7e, #ef8671, #e7a961);">

<div>

    
    <div style="display: flex; justify-content: center; align-items: center;">
        <h1>
            歡迎${userName}:加入DropCat

        </h1>
    </div>
    <div  style="display: flex; justify-content: center; align-items: center;">

        <!-- <img src="../static/img/magic1.png" alt=""> -->
        <img src="cid:thisAFile" >
    </div>

</div>



    



    
</body>



 
 
 
 
 
 


</html>