<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
<link rel="icon" href="./img/logo.png">
    <title>Insert title here</title>
</head>

<body style="
height: 100vh; background-repeat: no-repeat;background-image: linear-gradient(to left top,rgb(180, 180, 180),rgb(255, 255, 255));">

    
    
    <!-- <div style="display: flex; justify-content: center; align-items: center;">
        <h1>
            歡迎<h1 th:text="${userName}"></h1>
            <h1>:加入DropCat</h1>

        </h1>
        
        
        
    </div> -->


    <h1>

        <div style="display: flex; justify-content: center; align-items: center;">

            歡迎
            <div th:text="${userName}" style="color: blueviolet;"></div>
            加入DropCat

        </div>

    </h1>






    <div  style="display: flex; justify-content: center; align-items: center;">

        <!-- <img src="../static/img/magic1.png" alt=""> -->
        <div>
            <!-- <img src="https://myjavatest20231207.s3.ap-northeast-3.amazonaws.com/f07a909b336c4919a716d301f3550950.png" > -->
            <img src="https://myjavatest20231207.s3.ap-northeast-3.amazonaws.com/54d4374e0add4293bac8728d9aded6d5.png" >

        </div>
    </div>

    
    
    
    
</body>

</html>