<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
<link rel="icon" href="./img/logo.png">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="./css/styleTemplate.css">
	<link rel="stylesheet" href="./css/PersonalPage.css">
	<link rel="stylesheet" href="./css/stylepostpop.css">
	<html xmlns:th="http://www.thymeleaf.org">
	<title>Personal Page</title>
</head>

<body>
	<!-- 左邊side bar -->
	<div id="FixedLeft">
		<!-- 這是左邊的BAR，刪掉你就沒有左邊的BAR了 -->
	</div>

	<div class="container-fluid">
		<div class="row">
			<div id="leftBar" class="col-2">
				<!-- 這裡面的東西通常看不到 -->
				<!-- FixedLeft 佔住的空間  -->
			</div>
			<div id="middleBar" class="col-10 ">
				<!-- 個人專頁Header區 -->
				<section class="row" id="headArea">
					<!-- Head內容 -->
					<div id="headContent">
						<!-- Head大頭照 -->
						<div class="" id="headPhotoContainer">
							
						</div>
						<!-- Head詳細 -->
						<div id="headDetail">
							<!-- Head詳細第一列 -->
							<div id="headFirstRow">
								<b><p id="idName"></p></b>
							</div>
							<!-- Head詳細第二列 -->
							<div class="my-2" id="headSecondRow">
								<div id="postNumArea"></div>
								<div id="fanNumArea"></div>
								<div id="followingNumArea"></div>
							</div>
							<!-- 展示名字區 -->
							<div class="" id="displayNameArea"></div>
							<!-- 自我介紹區 -->
							<div class="mt-2" id="biographyArea"></div>
						</div>
					</div>

				</section>
				<!-- 個人專頁NavTab區 -->
				<section class="row" id="personalNavTab">
					<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="posts-tab" data-toggle="tab" href="#postsContainer"
								role="tab" aria-controls="posts" aria-selected="true">貼文</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="collection-tab" data-toggle="tab" href="#collectionContainer"
								role="tab" aria-controls="collection" aria-selected="false">收藏</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="watchHistory-tab" data-toggle="tab" href="#watchHistoryContainer"
								role="tab" aria-controls="watchHistory" aria-selected="false">近期觀看</a>
						</li>
					</ul>
				</section>
				<!-- 內容區 -->
				<section class="tab-content" id="myTabContent">
					<!-- 貼文 -->
					<div class="tab-pane fade show active" id="postsContainer">
						
					</div>
					<!-- 珍藏 -->
					<div class="tab-pane fade" id="collectionContainer" role="tabpanel" aria-labelledby="tab2-tab">
						
					</div>
					<!-- 近期看過 -->
					<div class="tab-pane fade" id="watchHistoryContainer" role="tabpanel" aria-labelledby="tab3-tab">
<!--						<div class="col-md-4 card postPicContainer">-->
<!--							<img class="postPic" src="./img/蛤.jpg" alt="My Image">-->
<!--							<div class="overlayIcon">-->
<!--								<b><i class="bi bi-heart-fill likeNumArea"></i></b>-->
<!--								<b><i class="bi bi-chat-dots commentNumArea"></i></b>-->
<!--							</div>-->
<!--						</div>-->
					</div>
				</section>
			</div>

		</div>
	</div>

    <!-- 下面是彈出框 -->
    <div id="postbackground" class="row align-items-center justify-content-center" style="display: none;">
        <div id="postpopblock">
            <div id="postblockleft">
                <img id="postblockimg" src="">
                <button id="poppostleftarr">&larr;</button>
                <button id="poppostrightarr">&rarr;</button>
            </div>
            <div id="postblockright">
                <a id="postaccount">

                    <div id="accountimgblock">
                        <img id="poppostaccountimg" src="">
                    </div>
                    <div id="accountnameblock">
                        <div id="poppostaccountname"></div>
                    </div>



                </a>
                <div id="posttext">
                    <ul id="posttextblock">
                        <li class="posttextblockcontext">
                            <div class="posttextimgblock">
                                <img id="popposterimg" class="posttextimg" src="">
                            </div>
                            <div class="posttextaccount">
                                <span id="popposteraccount">hiimpoca</span>
                                <a href="#/" class="bi bi-trash" id="popposterdelete"></a>
                            </div>
                            <div class="posttextpost">
                                <span id="poppostertext">
                                </span>
                                <br>
                                <span id="poppostertime"></span>
                                <hr>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="postselection">
                    <div class="postselectionblock">
                        <i id="poppostlike" class="bi bi-heart postselectionicon"></i>
                        <i id="poppostshare" class="bi bi-box-arrow-right postselectionicon"></i>
                        <i id="poppostcollect" class="bi bi-bookmark postselectionicon"></i>
                    </div>
                </div>
                <div id="postfollow">
                    <div id="popoutpostfollowblock"><b id="popposttotallike"></b></div>


                    <div id="poppostlatestlikettime"></div>


                </div>
                <div id="postmessg">
                    <input class="postmessginput" type="text" placeholder="留言...">
                </div>
            </div>


        </div>
    </div>
    <!-- 彈出框到這 -->

	<!-- 這個是呈現用JS檔，請留著 -->
	<script th:inline="javascript">
		let userAccount=null;
		let record= [[${record}]];	
		if(record == true){
			$("#postsContainer").removeClass("show").removeClass("active");
			$("#watchHistoryContainer").addClass("show").addClass("active");
			$("#posts-tab").removeClass("active");
			$("#watchHistory-tab").addClass("active");
			
			record=false;
		}
	</script>
	<script src="./js/PersonalPage.js"></script>
	<script src="./js/resize.js"></script>
	
</body>


</html>