<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="icon" href="./img/logo.png">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>Document</title>

    <!-- 在dropCat的eclipse引用的CSS -->
    <link rel="stylesheet" href="./css/cssForRegister.css">

    <!-- CDN bootstrap的CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    


<!--
    <script src="./bootstrap-5.3.2-dist/js/jquery.js"></script>
-->






<!-- CDN 的Ajax -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- CDN 的JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>






<!-- 
<meta name="referrer" content="never">


<meta name="referrer" content="noreferrer"> -->




</head>
<body>



<!--如果都沒有設定font-size 1rem=16px -->
<!-- Figma的字體為px  -->

<div class="container-fluid">
    <div class="row rowRed" >
        <div class="col-lg-1"></div>
        <div class="col-lg-5 pt-5 d-none d-lg-block mt-5" id="registerInput" style="background-color: blanchedalmond;">
            <div class="item">
                <!-- <img src="https://picsum.photos/300/200?random=10" class="w-100"> -->
                <!-- <h1>dropCat</h1> -->
                <div class="row ">
                    <div class="col-12">
                        <!-- <h1>dropCat</h1> -->
                        <div id="useFontFamily">dropCat</div>
                    </div>
                    <div class="col-12" style="font-size: 2.25rem;">
                        <span>
                            Right here!&nbsp;&nbsp;&nbsp;Right now!
                        </span>
                    </div>
                    <div class="col-12 text-end" style="font-size: 2.25rem;">
                        <span>
                            You are not alone
                        </span>
                    </div>
                </div>
                
               

            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3 pt-5 mt-5" id="registerInput" style="background-color: gold;">
            <div class="item " >
                <!-- <img src="https://picsum.photos/300/200?random=11" class="w-100"> -->
                <div style="font-size: 2.25rem;" class="text-center">註冊</div>
                <div style="font-size: 1.5625rem;"  class="text-center">讓你跟朋友的互動無界限</div>
                

                <form action="#" role="form" method="post" class="needs-validation" novalidate>
                    <div class="form-group mb-2">
                        <input id="userAccount" required type="text"  name="userAccount" class="form-control" placeholder="用戶帳號" aria-label="userAccount" >
                        
                    </div>
                    <div class="form-group mb-2">
                        <input id="username" required type="text"  name="account" class="form-control" placeholder="用戶名稱" aria-label="Username" >
                        
                    </div>
                    <div class="form-group mb-2">
                        <input id="password"  type="password" name="password" class="form-control" placeholder="密碼" aria-label="" >
                    </div>
                    <div class="form-group mb-2">
                        <input id="doublueCheckPassword"  type="password"   class="form-control" placeholder="確認密碼" aria-label="" >
                    </div>
                    <div class="form-group mb-2">
                        <input id="phone" required type="tel" class="form-control" placeholder="手機" aria-label="" >
                    </div>
                    <div class="form-group mb-2">
                        <input id="email" required type="email" class="form-control" placeholder="電子郵件" aria-label="">
                    </div>

                    
                    <div class="form-group col-12" >
                        <div class="form-check" style="font-size: 15px;">
                            <input required type="checkbox" class="form-check-input" value="" id="flexCheckDefault">
                            <label for="flexCheckDefault" class="form-check-label text-wrap" style="font-size: 0.9375rem;">
                                同意我們的服務條款 、《 隱私政策 》和《 Cookie政策 》 
                            </label>
                        </div>
                        
                    </div>
                    <div class="form-group col-12">
                        <div class="form-check" style="font-size: 15px;">
                            <input required type="checkbox" class="form-check-input" value="" id="flexCheckDefault2">
                            <label for="flexCheckDefault2" class="form-check-label text-wrap" style="font-size: 0.9375rem;">
                                同意我們蒐集用戶的註冊資料，我們不會向任何人透漏個人資料
                            </label>
                        </div>  
                    </div>



                    <!-- <br><br> -->
                    <div class="col-auto mb-2 text-center">
                        <!-- <button id="registerButton" type="button" class="btn btn-primary mb-3 " style="font-size: 1.875rem;">註冊</button> -->
                        <button id="registerButton" onclick="return false;" type="button" class="btn btn-primary mb-3 " style="font-size: 1.875rem;">註冊</button>
                    </div>
                    <div class="text-center fw-bold text-info " id="registerAlert">
                        Please provide a valid city.
                    </div>
                    <div style="font-size: 1.5625rem;" class="text-center">
                        你已經有帳號了嗎?
                        <br>
                        <a href="./login">登入</a>
                    </div>
                </form>


                
                <hr>


                <div class="d-flex justify-content-around text-center " 
                style="font-size: 0.9375rem;">
                    <div id="xxxxx" class="m-3 bd-highlight text-center">
                        <a href="#" onclick="return false;" class="text-center">關於</a>
                        <!-- 關於 -->
                    </div>
                    <div class="m-3 bd-highlight text-center">
                        <a href="#" class="text-center">使用說明</a>
                    </div>
                    <div id="private" class="m-3 bd-highlight text-center">
                        <a href="#" class="text-center">隱私條款</a>
                        <!-- 隱私條款 -->
                    </div>
                    <div class="m-3 bd-highlight text-center">
                        <a href="#" class="text-center">語言地區</a>
                    </div>
                    
                </div>


            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>

    

    <!-- <h3>這一條用來看對齊用的</h3>
    <div class="row">
        <div class="col-lg-1" style="background-color: aliceblue;">1</div>
        <div class="col-lg-1" style="background-color: gold;">2</div>
        <div class="col-lg-1" style="background-color: red;">3</div>
        <div class="col-lg-1" style="background-color: black;">4</div>
        <div class="col-lg-1" style="background-color: antiquewhite;">5</div>
        <div class="col-lg-1" style="background-color: yellow;">6</div>
        <div class="col-lg-1" style="background-color: blue;">7</div>
        <div class="col-lg-1" style="background-color: lightpink;">8</div>
        <div class="col-lg-1" style="background-color: lightgreen;">9</div>
        <div class="col-lg-1" style="background-color: lightslategrey;">10</div>
        <div class="col-lg-1" style="background-color: lightgreen;">11</div>
        <div class="col-lg-1" style="background-color: gold;">12</div>
    </div> -->





</div>


<script>






</script>
    



    
</body>







<!--  If you’re using our compiled JavaScript and prefer to include Popper separately, add Popper before our JS, via a CDN preferably.-->
<!--

<script src="./bootstrap-5.3.2-dist/js/cdn.jsdelivr.net_npm_@popperjs_core@2.9.2_dist_umd_popper.min.js"></script>
<script src="./bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>

 -->
 
 
 <!-- CDN bootstrap 的JS -->
 <script src="./js/register.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 
 
 
 
 
 


</html>