<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<link rel="icon" href="./img/logo.png">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    </link>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <!-- 我沒有更動太多 styleTemplate 的內容 -->
    
    <link rel="stylesheet" href="./css/styleTemplate.css">


    <!-- 大部分的更動我都丟 styleSettingbar 裡面。 -->
    <link rel="stylesheet" href="./css/styleSettingbarSettingInform.css">


    <title>Website MainPage</title>
</head>

<body>

    <div id="FixedLeft">
    </div>

     <!-- 如果你想要從你的HTML開始改把這個塞進去 -->
    <div id="FixedSetting"></div>
     <!-- 這個 -->

    <div class="container-fluid">
        <div class="row">

            <div id="leftBar" class="col-2">
            </div>

            <!-- 如果你想要從你的HTML開始改把這個也塞進去，塞到container-fluid裡面 -->
            <div id="settingbar" class="col-2"></div>
            <!-- 這其實跟 leftBar 一樣來擠空間的 -->
            
            <div id="middleBar" class="col-8" style="background-color: #eef;">

               


                 <!-- 背景顏色 #eef 會呈現 #middleBar 目前的大小 -->
                 <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        

                        <div class="my-3">
                            推播通知
                        </div>
        
                        <div class="form-check form-switch mb-3 mt-3">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
                            <label class="form-check-label" for="flexSwitchCheckDefault">全部暫停</label>
                        </div>
        
                        <div class="my-2">
                            <p class="fw-bold">按讚通知</p>
        
                            <div class="form-check my-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="close" checked>
                                <label class="form-check-label" for="close">
                                  開啟
                                </label>
                            </div>
                            <div class="form-check my-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="close2">
                                <label class="form-check-label" for="close2">
                                  關閉
                                </label>
                            </div>
                            
                         
                        </div>
        
                        <hr>   
        
                        <div class="my-2">
                            <div class="fw-bold">留言通知</div>
        
                            <div class="form-check my-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="close3" checked>
                                <label class="form-check-label" for="close3">
                                    開啟
                                </label>
                            </div>
                            <div class="form-check my-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="close4">
                                <label class="form-check-label" for="close4">
                                  關閉
                                </label>
                            </div>
                           
                         
                           
                        </div>
                        <hr>   
        
                        <div class="my-2">
                            <div class="fw-bold">追蹤通知</div>
        
                            <div class="form-check my-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="close5" checked>
                                <label class="form-check-label" for="close5">
                                    開啟
                                </label>
                            </div>
                            <div class="form-check my-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="close6">
                                <label class="form-check-label" for="close6">
                                    關閉
                                </label>
                            </div>
                            
                        </div>
                    </div>


                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                       這裡是對應到編輯個人檔案的頁面
                       這裡的空間為col-5

                    </div>
                </div>

















            </div>
        </div>
    </div>







    <!-- 這裡是跳出來的搜尋bar -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
         

          <div class="input-group mb-3" >
            
            <input type="text" class="form-control " placeholder="搜尋" aria-label="Username" aria-describedby="basic-addon1" style="background-color: lightcyan;">

            <button type="button" class="btn-close text-reset " data-bs-dismiss="offcanvas" aria-label="Close"></button>

          </div>

       
          
        </div>

        <hr>

        <div class="card mb-3 ms-3 border-0" style="max-width: 500px; ">
            <div class="row g-0">
              <div class="col-4">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Spotted_Seal2.JPG" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-8" style="max-height: 100px;overflow:auto;">
                <div class="card-body">
                  <h5 class="fw-bold">
                    KingJames
                  </h5>
                  
                  
                </div>
              </div>
            </div>
        </div>

        <br>
        <div class="card mb-3 ms-3 border-0" style="max-width: 500px; ">
            <div class="row g-0">
              <div class="col-4">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Spotted_Seal2.JPG" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-8" style="max-height: 100px;overflow:auto;">
                <div class="card-body">
                  <h5 class="fw-bold">
                    Curry
                  </h5>
                  
                  
                </div>
              </div>
            </div>
        </div>













    <script>


        // 有朋友發貼文的時候有通知
        // 有朋友按追蹤的時候有通知
        // 有朋友按讚的時候有通知
  

  
  
        $(function(){
  
  
  
          $("#allInformationSuspend")
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
          let thisWeekInformData=[
  
            {
              img:"https://img.ltn.com.tw/Upload/news/600/2020/06/05/phpkbOUtP.jpg",
              userId:"Anthony Davis",
              state:"對你的貼文按讚",
              time:""
  
  
            },
            {
              img:"https://s.yimg.com/it/api/res/1.2/Dd8RpjXynLq_F._NFZgJ9A--~A/YXBwaWQ9eW5ld3M7dz00MDA7aD0yNjY7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10242023/5007.png",
              userId:"Anthony Davis",
              state:"已加入",
              time:""
  
  
            },
            {
              img:"https://s.yimg.com/it/api/res/1.2/KdQ0R8hRArnYbpnwUstRQA--~A/YXBwaWQ9eW5ld3M7dz00MDA7aD0yNjY7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10242023/6170.png",
              userId:"Jaxson Hayes",
              state:"對你的貼文按讚",
              time:""
  
  
            },
  
          ]
  
  
          let thisMonthInformData=[
            {
              img:"https://s.yimg.com/it/api/res/1.2/sTC.BXRio6vjZh5CXB25Jw--~A/YXBwaWQ9eW5ld3M7dz00MDA7aD0yNjY7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10242023/3704.png",
              userId:"LeBron James",
              state:"對你的貼文按讚",
              time:""
  
  
            },
          ]
  
  
          let longTimeAgoInformData=[
            {
              img:"https://s.yimg.com/it/api/res/1.2/4R9PKQswDuq6RRGFhiidUA--~A/YXBwaWQ9eW5ld3M7dz00MDA7aD0yNjY7cT0xMDA-/https://s.yimg.com/xe/i/us/sp/v/nba_cutout/players_l/10242023/6606.png",
              userId:"Austin Reaves",
              state:"對你的貼文按讚",
              time:""
  
            },
  
  
  
  
          ]
  
  
  
          thisWeekInformData.map( (x) => {
  
            $("#thisWeek").append(
  
                  `<div class="card mb-3 border-0" style="max-width: 500px; ">
                      <div class="row g-0">
                        <div class="col-4">
                          <img src="
                          ${x.img}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-8" style="max-height: 100px;overflow:auto;">
                          <div class="card-body">
                            
                            <p class="card-text"  >
                              ${x.userId}${x.state}
                            </p>
  
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  
                          </div>
                        </div>
                      </div>
                  </div>`
  
            )
            
          } )
  
  
  
  
  
  
  
  
          thisMonthInformData.map( (x) => {
  
            $("#thisMonth").append(
  
                  `<div class="card mb-3 border-0" style="max-width: 500px; ">
                      <div class="row g-0">
                        <div class="col-4">
                          <img src="
                          ${x.img}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-8" style="max-height: 100px;overflow:auto;">
                          <div class="card-body">
                            
                            <p class="card-text"  >
                              ${x.userId}${x.state}
                            </p>
  
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  
                          </div>
                        </div>
                      </div>
                  </div>`
  
            )
  
          } )
  
  
  
          longTimeAgoInformData.map( (x) => {
  
            $("#longTimeAgo").append(
  
                  `<div class="card mb-3 border-0" style="max-width: 500px; ">
                      <div class="row g-0">
                        <div class="col-4">
                          <img src="
                          ${x.img}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-8" style="max-height: 100px;overflow:auto;">
                          <div class="card-body">
                            
                            <p class="card-text"  >
                              ${x.userId}${x.state}
                            </p>
  
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  
                          </div>
                        </div>
                      </div>
                  </div>`
  
            )
  
          } )
  
  
  
  
  
  
          
  
  
  
  
  
  
  
  
        })
  
  
  
  
  
      </script>
  


















    <!-- 我直接重寫resize了 -->
    <script src="./js/resize_setting.js"></script>

</body>


</html>